/* 単位について:1px = 1ドット分(ディスプレイの一つの点の分) ，1em = 親要素のフォントサイズと同じ(”1”とする) = 通常16px */

/*
 * Webフォントの読み込み(@import は CSS のアットルール)により、デバイス(のローカルフォント)に使用したいフォントが入っていなかった場合にもデバイスに関係なくフォント指定が可能。
 * Google fontのURL  https://fonts.google.com/specimen/Kiwi+Maru?subset=japanese
 * 「@import」及び「font-family」のコードが必要。
 */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');
body {
    /* 左から優先して見つかったフォントを適用する(Webフォント) */
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* 複数のタグ名をカンマ区切りで指定すると複数を一気に指定できる */
h1, h2, h3 {
    /* 左から優先して見つかったフォントを適用する(これはVScodeからサジェストされたフォント) */
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", sans-serif;
}

h2 {
    /* 線を描画 (solid:1本線, #1e366a: 16進数カラーコード, 1px: 線の太さ */
    border-bottom: solid #1e366a 1px;
}

/* 問題一覧の項目を編集 */
ul li {
    padding: 0.5em;
}

/*
 * classは複数の要素に指定することができる(class="answers"は複数のタグに指定できる)
 * classの場合、親要素からの指定は「.」で繋ぐ
 * ※要素名は省略して.sectionと書くこともできる(その場合、class指定されている要素すべてにスタイルが適用される)
 * cssの場合、デベロッパーツールを使って対象の要素にスタイルがあたっているか確認すると分かり易い
 */
ol.answers {
    /* リストの先頭の表示を指定 */
    /* ol(ordered list)タグには何もしなければ数字がリストの先頭文字（"marker"）として割り振られるが、下記のようにするとアルファベット(昇順)に変更できる */
    /* 2つ指定しているときは左から 上下 左右 の順番で値が指定される(※em指定することでブラウザの拡大、縮小で1emが変化する) */
    padding: 1em;
    list-style: upper-alpha;
    padding: 0 1em;
}

/* <ol>の中にある<li>タグにスタイルを適用 */
ol li {
    /* liの「marker」(デフォルトは1,2,3,...で、今回は上で「upper-alpha」としたのでA,B,C,...)をpaddingの内側に入れるのを下記で指示。デフォルトでは、paddingの外側に表示される */
    padding: 1em;
    list-style-position: inside;
}

/* リストにマウスをおいたときだけスタイルが変わる */
ol.answers li:hover {
    border: solid #1e366a 0.1em;
    padding: 0.9em;
    /* ol liで「list-style-position: inside;」としたのはここでmarkerも着色されるため  */
    background-color: #e5ecfc;
    /* マウスのポインタを変化させる */
    cursor: pointer;
}

/*
 * idは複数の要素に指定することはできない(id="main"が指定されているのは一つのHTMLで一つのみ)
 * idの場合、親要素からの指定は「#」で繋ぐ
 * ※要素名は省略できるがdiv#mainと書くこともできる
 */
span#correct-answer {
    /* 文字の太さを指定 */
    font-weight: bold;
}

div#main {
    /* 要素の内側（境界線からコンテンツ本体の間)の領域を指定(上下, 左右)
     * 余計なdivタグ等で別途指定が無ければ、これが適用される */
    padding: 0 1.5em;
}

div.section {
    /* 「戻る」の上の余白を指定 */
    margin-top: 2em;
}

div#section-correct-answer {
    /* 表示しない場合noneで指定
     * 表示させる場合はblockで指定。divタグはblock要素と呼ばれる(ex.インライン要素)
     */
    display: none;
}
